<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Logging</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://128.243.22.221:5000/log</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>server_url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>server url</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Title</key>
			<string>logging interval (hours)</string>
			<key>Key</key>
			<string>logging_interval</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>sample interval (minutes)</string>
			<key>Key</key>
			<string>sampling_interval</string>
			<key>DefaultValue</key>
			<string>20</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>logging off</string>
			<key>Key</key>
			<string>logging_off</string>
			<key>DefaultValue</key>
			<string>23:00 06:00</string>
		</dict>
	</array>
</dict>
</plist>
